{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


<!-- Sub Page Banner
============================================= -->

{% block subanner %}

			<section class="sub-page-banner text-center" data-stellar-background-ratio="0.3">

				<div class="overlay"></div>

				<div class="container">


					<h1 class="entry-title">{% trans "Compte du patient" %}</h1>
					<p>{% trans "Personnalisez votre compte. Donnez tous les détails pour un contact rapide" %}</p>
				</div>

			</section>

{% endblock subanner %}


{% block content %}



			<!-- Sub Page Content
			============================================= -->
			<div id="sub-page-content" class="clearfix">

				<section class="team-description">

					<div class="container">

						<h2 class="light bordered">{% trans "Your <span>Account</span>" %}</h2>


								<div class="doctors-img"><img src="{{ patientprofile.profile_image.url }}" width="420" alt="" title="">
									<ul class="list-unstyled social2">
										<li><a href="#." class="fb"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#." class="twitter"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#." class="g-plus"><i class="fa fa-google-plus"></i></a></li>
										<li></li>

									</ul>
								</div>

								<div class="doctors-detail">
									<h4>{{ patientprofile.name }}
										<a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-patient-account' %}">
										  		<i class="fa fa-pencil" aria-hidden="true"></i>
										</a>
										<span>

										</span>
									</h4>
									<p><label class="heading">{% trans "Email" %}</label><label class="detail">{{ patientprofile.email }}</label></p>
									<p><label class="heading">{% trans "Adress" %}</label><label class="detail">{{ patientprofile.adress }}</label></p>
									<p><label class="heading">{% trans "Date of birth" %}</label><label class="detail">{{ patientprofile.date_of_birth }}</label></p>

								</div>


					</div>

				</section>

				<section class="team-description">

					<div class="container">

						<h2 class="light bordered">{% trans "Your <span>Appointments</span>" %}</h2>


						<ul id="meet-specialist-carousel" class="list-unstyled owl-carousel row">
						{% for appointment in appments %}
							<li>

								<div class="doctors-img">


									<img src="{{ appointment.image_appointment.url }}" width="531" alt="" title="">

								</div>

								<div class="doctors-detail">
									<h4>{{ appointment.patient }}<span></span></h4>

									<p><label class="heading">{% trans "Date of appointment" %}</label><label class="detail">{{ appointment.date_of_appointment }}</label></p>
									<p><label class="heading">{% trans "Message" %}</label><label class="detail">{{ appointment.message }}</label></p>

								</div>

							</li>


							{% endfor %}




						</ul>

					</div>

				</section>





		</div><!--end sub-page-content-->



		<div class="colourfull-row"></div>

{% endblock content %}
