{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}



    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">

                <a class="backButton"  href="{% url 'author-account' %}"><i class="bi bi-chevron-left"></i></a>
                <h3 style="text-align: center">{% trans 'Edite Skill' %}</h3>
                <br>

                <form action="" method="POST" class="form auth__form" novalidate="novalidate">

                         {% csrf_token %}
                    <div class="form__field">

                         {{form|crispy}}

                    </div>


                    </div>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
